html{
  scroll-behavior: smooth;
}
@font-face {
font-family: Akira;
src: url('../fonts/Akira.otf');
}

@font-face {
font-family: Desolator;
src: url('../fonts/Desolator.otf');
}

@font-face {
  font-family: Amodified;
  src: url('../fonts/Amodified.otf');
  }

.section{
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
}

h1{
  font-family: Desolator;
}

h2, h3, h4, h5 {
  font-family: Desolator;
}

p {
  font-family: "Rubik", serif;
}

/* DEMO7INTRODUCTION */
.demo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
  background-image: url("../assets/background-white-green.svg");
  background-position: right;
  background-repeat: no-repeat;
}

.text-box{
  width: 50%;
  text-align: left;
}

.text-box > h2{
  padding: 20px;
  font-size: 4vw;
}

.text-box > p{
  padding: 20px;
  font-size: 20px;
}

.demo-phone{
  width: auto;
  height: auto;
  max-width: 540px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 1100px) {
  .demo{
      flex-direction: column;
      padding: 0px;
      padding-top: 50px;
      padding-bottom: 50px;
      background-position: right;
      background-size: contain;
  }

  .demo-phone{
    max-height: 50vw;
  }

  .text-box{
      width: 100%;
  }

  .logo {
    max-width: 100px;
  }

  .text-box > h2{
      font-size: 5vw;
  }
}


/* MOdules */
.modules{
  background-color: #c3d417;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
}

.text-box > h3{
  padding: 20px;
}

/* carousel controls */
#prev-btn img {
transform: rotate(180deg); /* Flecha original */
}

.carousel-controls {
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
}

.carousel-controls button {
background: none;
border: none;
cursor: pointer;
transition: transform 0.2s ease-in-out;
}

.carousel-controls button:hover {
transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.carousel-controls button {
width: 100px;
height: 80px;
object-fit: contain;
}



@media (max-width: 1000px) {
  .modules{
      width: 100%;
      flex-direction: column;
      padding: 0;
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .carousel-controls button {
    width: 50px;
    height: 40px;
    object-fit: contain;
    }
}

/* Sección de Contacto */
.contact {
  background-color: #2d2a26;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px;
  color: #fff;
}

/* Estilos del formulario */
#info-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

#info-form label {
  font-family: "Rubik", serif;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}

#info-form input,
#info-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

#info-form button {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

#info-form button:hover {
  background-color: #444;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

/* Ajuste del video */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 540px; /* Tamaño similar a un teléfono */
  height: auto; /* Alto del teléfono */
  border-radius: 10px; /* Bordes redondeados para simular un teléfono */
  /*border: 8px solid black; /* Marco del celular */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra para efecto realista */
  overflow: hidden; /* Asegura que la imagen no sobresalga */
  background-color: white; /* Fondo para simular una pantalla apagada */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajusta la imagen sin distorsión */
  /*transition: opacity 0.3s ease-in-out;*/
  margin: 0;
}


/* Ajuste responsivo */
@media screen and (max-width: 1100px) {
  .image-container {
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: 85vw;
    height: auto;
  }
}



/* Ajustes para móviles */
@media (max-width: 1100px) {
  .contact {
    width: 100%;
    flex-direction: column;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .modules{
    flex-direction: column;
  }

  #info-form {
    max-width: 90%;
  }

  .modules > .text-box{
    margin-bottom: 20px;
  }
}
